body {
    @include fluid-text(14, 14);

    font-family: var(--font-family-base);
    font-weight: 500;
    line-height: 1.28;
    color: var(--color-dark-blue);
    background-color: var(--color-light-alt);
}


a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    @include fluid-text(58, 40);
}

h2 {
    @include fluid-text(40, 30);
}

h3 {
    @include fluid-text(24, 18);
}

h4 {
    margin: 0;
    @include fluid-text(20, 16)
}