:root {
    --color-dark-blue: #252B42;
    --color-blue-alt: #17213C;
    --color-grey: #737373;
    --color-orange: #FF7B47;
    --color-orange-dark:#ca6137;
    --color-dark-green: #0D5C63;
    --color-light: #FFFFFF;
    --color-dark: #000;
    --color-light-alt: #fafafa;
    --color-grey-alt: #585757;
    --color-grey-light: #E6E6E6;
    --color-grey-light-alt: #F9F9F9;

    --border-radius: 37px;
    --border-radius-small: 5px;

    --font-family-base: 'Montserrat', 'sans-serif';

    --container-width: 1046px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}